.app-lialog{
	font-size: 12px;
	.item{
		border-radius: 6px;
		max-width: 150px;
		margin: 3px 0;
		padding: 8px;
	}
	.msg-in-left{
		overflow: hidden;
		.item{
			background-color: #DCDCDC;
			float: left;
			transation: width 0.2s;
			a{
				display: block;
				word-wrap: break-word;
			}
			img{
				margin-top: 9px;
				display: block;
				width: 100%;
				// border-radius: 6px;
				box-sizing: border-box;
				border: solid #fff 8px;
    		box-shadow: 2px 2px 2px 1px #ccc;
			}
		}
	}
	.msg-in-right{
		overflow: hidden;
		.item{
			color: #fff;
			background-color: #32CD32;
			float: right;
		}
	}
}